body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    background-image: url(/static/w.jpg);
    
}

.main-container {
    text-align: center;
    width: 100%;
    max-width: 700px;
    box-shadow: 0 0 10px 15px rgba(108, 79, 79, 0.6);
    
}

.login-card {
    padding: 40px 30px;
    margin-bottom: 25px;
}

.login-card h1 {
    margin-top: 0;
    font-size: 28px;
    color: #333;
    margin-bottom: 30px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    box-sizing: border-box;
    font-size: 16px;
    color: #999;
}

.btn-login {
    width: 100%;
    padding: 12px;
    background-color: #2D9A4C;
    color: white;
    border: none;
    border-bottom: 4px solid #1E6B34;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.btn-login:active {
    border-bottom: none;
    transform: translateY(2px);
}

.forgot-link {
    display: block;
    margin-top: 25px;
    color: #E65A41;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.social-divider {
    color: white;
    margin-bottom: 20px;
}

.social-buttons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.box {
    justify-content: center;
    align-items: center;
}

.btn-social {
    flex: 1;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-fb {
    background-color: #3B5998;
    border-bottom: 4px solid #2D4373;
}

.btn-tw {
    background-color: #00ACED;
    border-bottom: 4px solid #0084B4;
}

.btn-reg {
    background-color: #2D9A4C;
    color: white;

}